---
import Link from '~/components/base/Link.astro'
import { withBasePath } from '~/utils/path'
import { SITE } from '~/config'
---

<Link
  class="select-none op-transition"
  href={withBasePath('/')}
  aria-label={SITE.author}
  aria-current={Astro.url.pathname === `${withBasePath('/')}` ? 'page' : false}
>
  <div class="logo-container">
    <img
      class="logo-icon"
      src={withBasePath('/ewwwzhi.svg')}
      alt=""
      aria-hidden="true"
    />
  </div>
</Link>

<style>
  .logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 9.25rem;
    height: 3.0rem;
    overflow: visible;
  }

  @media (max-width: 767.9px) {
    .logo-container {
      margin-top: 0.125rem;
      width: 7.25rem;
      height: 2.1rem;
    }
  }

  .logo-icon {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    object-position: left center;
  }

  :global(html.dark) .logo-icon {
    filter: invert(1);
  }
</style>
