---
import Link from '~/components/base/Link.astro'
import { withBasePath } from '~/utils/path'
import { SITE } from '~/config'
---

<Link
  class="select-none op-transition"
  href={withBasePath('/')}
  aria-label={SITE.author}
  aria-current={Astro.url.pathname === `${withBasePath('/')}` ? 'page' : false}
>
  <div class="logo-container">
    <span class="logo-text">WutongYu</span>
  </div>
</Link>

<style>
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    transform: scale(1.05);
  }

  @media (max-width: 767.9px) {
    .logo-container {
      margin-top: 0.125rem;

      transform-origin: 0%;
      transform: scale(0.95);
    }
  }

  .logo-text {
    font-family: 'Great Vibes', cursive;
    font-size: 1.65rem;
    line-height: 1;
    color: var(--c-text);
  }

  :global(.dark) .logo-text {
    color: #fdfdfd;
  }
</style>
